<div class="callout @(Reaction ? "callout-special" : string.Empty) @(Maneuver ? "callout-inner" : string.Empty) @(Passive ? "callout-skill" : string.Empty)">
    <h6>@Caption</h6>
    <p class="mb-0">@ChildContent</p>
</div>

@code {
    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Reaction { get; set; }

    [Parameter]
    public bool Maneuver { get; set; }

    [Parameter]
    public bool Passive { get; set; }
}
