@using Pentaforce.Beta.Wiki.ViewModels

@page "/dice"
@page "/Pentaforce/dice"

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dice</th>
                        <th scope="col">Explode</th>
                        <th scope="col">Normal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pair in Dice.Select((dice, indx) => (dice, indx)))
                    {
                        <tr>
                            <td scope="row">@(pair.indx + 6)</td>
                            <td>@pair.dice.ToString()</td>
                            <td>@pair.dice.ExplodeValue (@pair.dice.ExplodeMaxValue)</td>
                            <td>@pair.dice.Value (@pair.dice.MaxValue)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private IEnumerable<DiceViewModel> Dice { get; set; }

    protected override void OnParametersSet()
    {
        Dice = DiceViewModel.GetDice().OrderBy(x => x.ExplodeValue).ThenBy(x => x.ExplodeMaxValue).ThenBy(x => x.Value).ThenBy(x => x.MaxValue);
    }
}
