@using Pentaforce.Beta.Wiki.ViewModels

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @if (Ancestry == AncestryType.Azmodei)
            {
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Azmodei ? "active" : string.Empty)" @onclick="OpenAzmodei">Азмодей</button>
                    </li>
                    @*<li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Obsidian ? "active" : string.Empty)" @onclick="OpenObsidian">Обсидіановий Азмодей</button>
                    </li>*@
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Pureblood ? "active" : string.Empty)" @onclick="OpenPureblood">Чистокровний Азмодей</button>
                    </li>
                </ul>
            }
            @if (Ancestry == AncestryType.Draconian)
            {
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Draconian ? "active" : string.Empty)" @onclick="OpenDraconian">Драконіанин</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Dragonworshiper ? "active" : string.Empty)" @onclick="OpenDragonworshiper">Драконовірець</button>
                    </li>
                </ul>
            }
            @if (Ancestry == AncestryType.Ymerith)
            {
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Ymerith ? "active" : string.Empty)" @onclick="OpenYmerith">Імерит</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link @(Heritage == HeritageType.Fire ? "active" : string.Empty)" @onclick="OpenFire">Вогняний</button>
                    </li>
                </ul>
            }
        </div>
    </div>
    @if (Heritage == HeritageType.Azmodei)
    {
        <AzmodeiView></AzmodeiView>
    }
    @if (Heritage == HeritageType.Obsidian)
    {
        <ObsidianAzmodei></ObsidianAzmodei>
    }
    @if (Heritage == HeritageType.Pureblood)
    {
        <PurebloodAzmodei></PurebloodAzmodei>
    }
    @if (Heritage == HeritageType.Draconian)
    {
        <DraconianView></DraconianView>
    }
    @if (Heritage == HeritageType.Dragonworshiper)
    {
        <DragonworshiperView></DragonworshiperView>
    }
    @if (Heritage == HeritageType.Ymerith)
   {
       <YmerithView></YmerithView>
   }
   @if (Heritage == HeritageType.Fire)
    {
        <FireYmerithView></FireYmerithView>
    }
</div>

@code {
    private AncestryType ancesetry = AncestryType.Azmodei;
    [Parameter]
    public AncestryType Ancestry
    {
        get => ancesetry;
        set
        {
            ancesetry = value;
            var action = ancesetry switch
            {
                AncestryType.Azmodei => Heritage = HeritageType.Azmodei,
                AncestryType.Draconian => Heritage = HeritageType.Draconian,
                AncestryType.Ymerith => Heritage = HeritageType.Ymerith
            };
        }
    }

    private HeritageType Heritage { get; set; } = HeritageType.Azmodei;

    private void OpenAzmodei() => Heritage = HeritageType.Azmodei;
    private void OpenObsidian() => Heritage = HeritageType.Obsidian;
    private void OpenPureblood() => Heritage = HeritageType.Pureblood;

    private void OpenDraconian() => Heritage = HeritageType.Draconian;
    private void OpenDragonworshiper() => Heritage = HeritageType.Dragonworshiper;

    private void OpenYmerith() => Heritage = HeritageType.Ymerith;
    private void OpenFire() => Heritage = HeritageType.Fire;
}
