<div class="container-fluid fs-12px">
    <div class="row">
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="bludgeoning" value="@Bludgeoning" />
                <label for="bludgeoning">Стійкість Дроблячій Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="bludgeoning" value="@Piercing" />
                <label for="bludgeoning">Стійкість Протикаючій Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="bludgeoning" value="@Slashing" />
                <label for="bludgeoning">Стійкість Ріжучій Шкоді</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="fire" value="@Fire" />
                <label for="fire">Стійкість Вогняній Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="electric" value="@Electric" />
                <label for="electric">Стійкість Електричній Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="sound" value="@Sound" />
                <label for="sound">Стійкість Звуковій Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="corosion" value="@Corosion" />
                <label for="corosion">Стійкість Їдкій Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="cold" value="@Cold" />
                <label for="cold">Стійкість Крижаній Шкоді</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="soul" value="@Spirit" />
                <label for="soul">Стійкість Духовній Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="mental" value="@Mental" />
                <label for="mental">Стійкість Ментальній Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="necrotic" value="@Necrotic" />
                <label for="necrotic">Стійкість Некротичній Шкоді</label>
            </div>
        </div>
        <div class="col cs-border p-0">
            <div class="form-floating">
                <input type="text" class="form-control text-end fs-5" id="light" value="@Light" />
                <label for="light">Стійкість Сяючій Шкоді</label>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Bludgeoning { get; set; }

    [Parameter]
    public string Piercing { get; set; }

    [Parameter]
    public string Slashing { get; set; }


    [Parameter]
    public string Fire { get; set; }

    [Parameter]
    public string Electric { get; set; }

    [Parameter]
    public string Sound { get; set; }

    [Parameter]
    public string Corosion { get; set; }

    [Parameter]
    public string Cold { get; set; }


    [Parameter]
    public string Spirit { get; set; }

    [Parameter]
    public string Mental { get; set; }

    [Parameter]
    public string Necrotic { get; set; }

    [Parameter]
    public string Light { get; set; }
}